@tailwind base;
@layer base {
  :root.dark {
    --rgb-white: 255 255 255;
    --rgb-body: 20 21 23;
    --rgb-card: 25 27 30;
    --rgb-strong: 49 51 58;
    --rgb-content-1: 243 245 250;
    --rgb-content-2: 134 140 155;
    --rgb-content-3: 90 95 109;
    --rgb-primary: 81 249 189;
    --rgb-accent: 81 141 249;
    --rgb-green: 81 249 189;
    --rgb-red: 249 81 145;
    --rgb-backdrop: 0 0 0;
    --rgb-dialog: 38 41 47;
    color-scheme: dark;
  }

  #__next {
    isolation: isolate;
  }

  html {
    @apply text-[62.5%];
    scrollbar-gutter: stable;
    scrollbar-width: thin;
  }

  body {
    @apply bg-body font-sans;
  }
}

@tailwind components;

@tailwind utilities;
@layer utilities {
  .text-body-12 {
    @apply text-sm font-normal leading-tight;
  }

  .text-body-14 {
    @apply text-md font-normal leading-normal;
  } 

  .text-h2 {
    @apply text-xl font-bold leading-loose;
  }

  .text-h3 {
    @apply text-lg font-bold leading-loose;
  }

  .text-h5 {
    @apply text-md font-bold leading-loose;
  }

  .text-h6 {
    @apply text-sm font-bold leading-tight;
  }
}
